body {
    background-color: #080424;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Pricing_Section {
    display: flex;
    width: 962px;
    padding: 32px 48px;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background: #F4F2FD;
    border-radius: 10px;
}

.PricingCard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 262px;
    height: 363px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.25);
}

#PricingCardTwo .PricingCard {
    background: #202842;
}

.CardDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    height: 306px;
}

.SubButton {
    display: flex;
    height: 22px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #202842;
}

#PricingCardTwo .SubButton {
    background: #FFFFFF;
}

.SubButton p {
    color: #FFF;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
}

#PricingCardTwo .SubButton p {
    color: #1C1C1C;
}


.CardDis {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.CardHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.PlanDetail {
    display: flex;
    padding-left: 8px;
    flex-direction: column;
    align-items: flex-start;
}

.group1 {
    height: 28px;
    display: flex;
    align-items: center;
}
.Frame3 {
    display: inline-flex;
    padding: 3px 4px;
    align-items: flex-start;
    gap: 10px;
}
.CheckMark {
    width: 23px;
    height: 22px;
    background-image: url("Image/check-mark 1.svg");
    margin: 3px;
}
#PricingCardTwo .CheckMark {
    background-image: url("Image/check-mark 2.svg")
}
.Frame4 {
    display: inline-flex;
    height: 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Frame4 p {
    color: #202842;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
#PricingCardTwo .Frame4 p {
    color: #FFFFFF;
}

.HeaderName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.prize {
    display: flex;
    height: 36px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.prize p {
    color: #202842;
    height: 36px;
    /*font-family: Sans Serif Collection;*/
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 100% */
}
#PricingCardTwo .prize p {
    color: #FFFFFF;
}

.Frame1 {
    display: flex;
    height: 40px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Frame1 p {
    color: #202842;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 100% */
}

#PricingCardTwo .Frame1 p {
    color: #FFFFFF;
}

.Frame2 {
    display: flex;
    height: 16px;
    padding: 0px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Frame2 p {
    color: #202842;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
}
#PricingCardTwo .Frame2 p {
    color: #FFFFFF;
}
