.blueButton {
    --button-color: #00b7ff;
}
.grayButton {
    --button-color: #6c757d;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.button {
    padding: 10px 20px;
    color: white;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}