body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body > div > button {
    background-color: blue;
    border: none;
    padding: 20px 40px;
    font-size: 30px;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: rgba(255, 255, 255, 1) 0px 5px 15px;
    cursor: pointer;
}

body > div > button:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}