body {
    background-color: #030303;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#navbarDiv {
    background-color: lightslategray;
    height: 50px;
}

#navbarDiv ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}
#navbarDiv ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbarDiv ul li:hover {
    background-color: black;
    cursor: pointer;
    align-items: start;
}

.poster--container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    width: 300px;
    height: auto;
    border: 2px solid red;
    opacity: 0.2;
}

.poster .poster--image img {
    width: 100%;
    border-radius: 10px;
    height: auto;
    border: 2px solid black;
}

.poster .poster--text {
    padding: 0;
    margin: 0;
}

.poster .poster--text .poster--text--title {
    font-weight: bold;
}

.poster:hover {
    opacity: 1;
}
