html,
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1
}

body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Page Formatting */
.page {
  width: 595px;
  height: 842px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.container {
  margin: 40px 20px;
  display: grid;
  grid-template-rows: 192px 42px 290px 16px 64px 16px 145px;
  grid-template-columns: 169px 20px 1fr;
  align-items: center;
  justify-content: center;
}

.container > .coverPhoto,
.container > .description,
.container > .education,
.container > .projects,
.container > .contacts,
.container > .experience {
  height: 100%;
  border-radius: 5px;
  
}

/* Image */
.coverPhoto {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.coverPhoto-Image img {
  /*height: 100%;*/
  width: 100%;
}

/* Description */
.description {
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
  display: flex;
  flex-direction: column;
}
.description .name {
  font-size: 40px;
  font-weight: 600;
  color: #000;
}
.description .designation {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
  color: #937131;
}

.description .description-Detailed {
  height: 100%;
  font-size: 12px;
  color: #000;
  display: flex;
  align-items: end;
}

/* Education*/
.education {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  background: #F7F3D7;
}

/* Projects*/
.projects {
  grid-row: 3 / span 3;
  grid-column: 3 / span 1;
  background: #F7F6F0;
}

/* Contacts*/
.contacts {
  grid-row: 5 / span 3;
  grid-column: 1 / span 1;
  background: #F7F1EB;
}

/* Experience*/
.experience {
  grid-row: 7 / span 1;
  grid-column: 3 / span 1;
  background: #F2F5F7;
}