body {
    background-color: #030303;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#navbarDiv {
    background-color: lightslategray;
    height: 50px;
}

#navbarDiv ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}

#navbarDiv ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbarDiv ul li:hover {
    background-color: black;
    cursor: pointer;
    align-items: start;
}

.content {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .content--container {
    width: 800px;
    height: auto;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px;
}

.content .content--container .content--image img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 40px;
}

.content .content--container .content--text p {
    color: white;
}

.content .content--container .content--title p {
    color: white;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.content .content--container .content--text span {
    font-weight: bold;
}
