body {
    background-color: #030303;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#navbarDiv {
    background-color: lightslategray;
    height: 50px;
}

#navbarDiv ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}
#navbarDiv ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbarDiv ul li:hover {
    background-color: black;
    cursor: pointer;
    align-items: start;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 20px;
}

.list .list--container {
    border: 2px solid red;
    padding: 10px 50px;
}

.list .list--container .list--title {
    font-size: large;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.list .list--container .list--li ol li {
    list-style: lower-roman;
}

.list .list--container .list--li ol li:hover {
    color: orange;
    cursor: pointer;
}